{% extends 'layout.html' %}

{% block content %}
    <div class="d-flex justify-content-center align-items-center" style="min-height: 100vh;">
        <div class="form-container" style="width: 100%; max-width: 400px; margin: 0 auto;">
            <div class="form-wrapper">
                <h4 class="text-center">Register Here</h4>
                <hr>
                {{ form.hidden_tag() }}
                {{ wtf.quick_form(form) }}
            </div>
        </div>
    </div>
{% endblock content %}
